[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[user]
	name = Zhenzhong Xu
	email = flyfree@gmail.com
[core]
	excludesfile = /Users/zxu/.gitignore_global
[difftool "vscode"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
    path = 
[http]
	postBuffer = 104857600
